@use 'inputs';
// @use 'variables';
@use '../themes/duckquill/sass/_variables.scss';
@use 'drop-shadow';
@use 'container';
@use 'animations';
@use 'fancy-list';
@use 'overshoot';

@mixin theme-variables {
    :root {
        @content ("light");
    }

    [data-theme="dark"] {
        @content ("dark");
    }

    @media (prefers-color-scheme: dark) {
        :root:not([data-theme="light"]) {
            @content ("dark");
        }
    }
}

.card {
    margin: 1rem 0;
    box-shadow: var(--edge-highlight), var(--shadow-glass);
    border-radius: var(--rounded-corner);
    padding: 1rem;
    background-color: var(--fg-muted-1);
    backdrop-filter: saturate(2.8) blur(0.23rem);
    padding: 1rem;
    overflow: hidden;
    max-width: 650px;
    margin: auto;

    .title {
        color: inherit;

        .icon {
            margin-inline-end: 0.375rem;
        }
    }
}

.canvas-container {
    text-align: center;
    box-shadow: var(--edge-highlight), var(--shadow-glass);
    border-radius: var(--rounded-corner);
    background-color: var(--fg-muted-1);
    backdrop-filter: saturate(2.8) blur(0.23rem);

    .canvas {
        box-shadow: var(--edge-highlight);
        text-shadow: var(--text-shadow-glow);
        filter: var(--drop-shadow);
        border-radius: var(--rounded-corner);
        display:inline-flex;
    
        &:focus {
            // accent border
            // keep inset + add accent glow
            box-shadow: var(--shadow-glow), var(--edge-highlight);
        }
        &:disabled {
            filter: var(--blur);
        }
    }
    .author {
        text-align:left;
    }
}

@include theme-variables using ($theme) {
    // FONT WEIGHTS
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    // FILTERS
    --printed: contrast(2) brightness(0.75) grayscale(1);
    --drop-shadow: drop-shadow(0 0.08rem 0.1rem rgb(0 0 0 / 0.35)) drop-shadow(0 0.4rem 0.7rem rgb(0 0 0 / 0.18));

    // TRANSITIONS
    --transition-bezier: 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
    --transition-bezier-longer: 0.525s cubic-bezier(0.17, 0.89, 0.32, 1.28);

    --neomorphism-shading:
            0.1rem 0.1rem 0.2875rem rgb(0 0 0 / 0.6),
            -0.05rem -0.05rem 0.2875rem rgb(255 255 255 / 0.1);
}