@use "../themes/duckquill/sass/mods/sticked-nav";

@use "../themes/duckquill/sass/mods/modern-hr";

@use "../themes/duckquill/sass/mods/no-edge-highlight";


body {
    background-image: linear-gradient(rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.85)), url("/images/backgrounds/shattered-island.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

// @import "../themes/duckquill/sass/_variables.scss";
// @include theme-variables using ($theme) {
//     @if $theme =="dark" {
//         --bg-overlay: linear-gradient(rgb(0 0 0 / 0.9), rgb(0 0 0 / 0.9));
//     }

//     @else {
//         --bg-overlay: linear-gradient(rgb(255 255 255 / 0.8), rgb(255 255 255 / 0.8));
//     }
// }