@use "../themes/duckquill/sass/mods/sticked-nav";

@use "../themes/duckquill/sass/mods/modern-hr";

// @use "../themes/duckquill/sass/mods/no-edge-highlight";

@mixin theme-variables {
    :root {
        @content ("light");
    }

    [data-theme="dark"] {
        @content ("dark");
    }

    @media (prefers-color-scheme: dark) {
        :root:not([data-theme="light"]) {
            @content ("dark");
        }
    }
}

@include theme-variables using ($theme) {
    @if $theme =="dark" {
        --bg-overlay: linear-gradient(rgb(0 26 16 / 0.3), rgb(0 13 8 / 0.85));
    }

    @else {
        --bg-overlay: linear-gradient(rgba(103, 172, 144, 0.2), rgba(134, 168, 154, 0.75));
    }
}

body {

    --container-width: 760px;

    // background-image: var(--bg-overlay),
    //     url("/images/backgrounds/shattered-island.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}