nav {
    box-shadow: 1px 2px 5px #161616;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

nav,
nav a {
    background-color: #001d52;
    padding: 8px 2%;
    transition: 0.2s;
    transition-timing-function: ease;
}

nav a {
    font-weight: bold;
    font-size: 1.5Em;
    font-family: "Ludicia console", "Monaco", monospace;
    text-decoration: none;
    display: inline;
    color: #dcdedf;
    margin: auto 3%;
}

nav a:hover {
    text-shadow: 1px 2px 5px #263645;
    color: #ffffff;
    background-color: #0044bb;
    border-radius: 3px;
}



body {
    /*<a href="https://www.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_5001147.htm#&position=13&from_view=search">Image by starline</a> on Freepik*/

    /* taken from www.freepik.com */
    background-image: url(Images/Backgrounds/halftone_background_12.jpg);
    padding: auto;
    margin: 0;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
}

main {
    /* taken from www.freepik.com */
    background-image: url(Images/Backgrounds/Background_repeat.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #e0fdff;
    text-shadow: 2px 2px 3px #aaaaaa;
    padding: 8px;
    border-radius: 15px;
    font-family: "Ludicia console", "Monaco", monospace;
    overflow: auto;
}

p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* sets hyphenation by default on paragraphs */

img {
    border-radius: 10px;
    box-shadow: 2px 2px 3px #777777;
    width: 300px;
}

ul {
    list-style-type: disc;
}

ul ol {
    list-style-type: upper-roman;
}

h2 {
    text-align: center;
}

table {
    margin: 5%;
    text-align: center;
    background-color: #c4f9ff;
    border-collapse: collapse;
    box-shadow: 5px 5px 3px #777777;
}

caption {
    font-weight: bold;
    font-size: 2em;
}

td a {
    text-decoration-line: none;
}

td,
th {
    text-align: center;
    border: 3px solid #000000;
}

tr:nth-child(odd) {
    background-color: #92e7ef;
}

input,
textarea {
    width: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #777777;
    background-color: #ffffff;
    transition: 0.5s;
    transition-timing-function: ease;
}

input[type=file] {
    width: 70pt;
    border: 1px solid #888888;
}

input[type=tel] {
    width: 65pt;
}

input[type=email] {
    width: 100pt;
}

input[type=text] {
    width: 55pt;
}

input[type=submit] {
    background: #ffffff;
    margin: 10px;
}

input[type=submit]:hover {
    background: #ddfffd;
    padding: 10px;
}

input[type=file]:hover,
input[type=file]:focus {
    width: 160pt;
}

input[type=tel]:hover,
input[type=tel]:focus {
    width: 100pt;
}

input[type=email]:hover,
input[type=email]:focus {
    width: 150pt;
}

input[type=text]:hover,
input[type=text]:focus {
    width: 95pt;
}

textarea {
    height: 25px;
    width: 30%;
}

textarea:focus,
textarea:hover {
    width: 60%;
    height: 100px;
}


#home {
    /* taken from www.freepik.com */
    background-image: url(Images/Backgrounds/shattered-island.gif);
    background-attachment: fixed;
    border-radius: 20px;
    color: #f0f8ff;
    font-size: 5vw;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 20%;
    margin-bottom: 38%;
    text-shadow: 2px 2px 2px #777777;
    font-family: "Ludicia console", "Monaco", monospace;
}

#aboutimg {
    float: right;
    border: 2px;
    padding: 8px;
    margin: 2px;
    clear: right;
    position: relative;
    right: 5px;
}

#aboutimg2 {
    float: right;
    margin: 2px;
    position: relative;
    right: auto;
}

#aboutimg2 img {
    width: 400px;
}

#homeimg {
    float: right;
}




#projectIcon {
    position: absolute;
    box-shadow: none;
    width: 40px;
    top: 88px;
    left: 180px;
}

#jsIcon {
    position: absolute;
    top: 130px;
    box-shadow: none;
    width: 50px;
}



.projectBody h1 {
    text-align: center;
}

iframe {
    /* taken from www.freepik.com */
    background-image: url(Images/Backgrounds/shattered-island.gif);
    background-attachment: fixed;
    border-radius: 10px;
}

iframe,
.projectBody i {
    padding: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.projectBody i {
    position: relative;
    right: 120px;
    bottom: 15px;
}

.projectBody a {
    color: #5050ff;
    text-decoration-line: none;
    font-family: "Ludicia console", "Monaco", monospace;
    font-size: 1.5em;
    position: relative;
    bottom: 10px;

}

.projectBody a:hover {
    color: #66aaff;
}


.projectDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
}

.imageLink {
    padding: 16px;
    width: 200px;
    text-align: center;
    text-shadow: 1px 1px 1px #cccccc;
    transition: 0.2s;
}

.imageLink a {
    text-decoration-line: none;
    color: #000000;
}

.imageLink a img {
    width: 200px;
    height: 200px;
    background-image: url("Images/Icons/EmptyImage.png");
    box-shadow: 2px 2px 3px #777777;
    transition: 0.2s;
}

.imageLink a img:hover {
    box-shadow: 5px 5px 3px #777777;
}

.imageLink:hover {
    text-shadow: 3px 3px 3px #aaaaaa;
}

/*************************************************************
  HEADER
**************************************************************/
header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transform-style: inherit;
    z-index: -1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(https://picsum.photos/g/1921/1081?random) top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.1);
    min-height: 100%;
    z-index: -2;
}


/*************************************************************
  SECTIONS
**************************************************************/
section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    position: relative;
    transform-style: inherit;
}

.section1 {
    background: #fafafa;
    box-shadow: 0 0 20px #333;
    z-index: 1;
}

.section2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(https://picsum.photos/g/1920/1080?random) top center;
    background-size: cover;
    transform: translateZ(-.5px) scale(1.6);
    z-index: -1;
}

/*************************************************************
  HEADINGS
**************************************************************/
h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    padding: 1rem;
    background: #fafafa;
    box-shadow: 0 0 20px #333;
    top: 50%;
    left: 50%;
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}

.section1 h1 {
    z-index: 3;
    transform: translate(-50%, -50%);
    box-shadow: none;
}

.section2 h1 {
    transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
    z-index: 3;
}

/*************************************************************
 parralax
**************************************************************/
*,
*::before,
*::after,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    font-size: 62.5%;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
}

.author {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    padding: .5rem 1rem;
    background: #fafafa;
    border-bottom-left-radius: 5px;
    transition: 300ms;
}

.author a,
.author a:visited {
    color: #333;
    text-decoration: none;
    display: block;
    transition: 300ms;
}

.author:hover,
.author:active {
    box-shadow: 0 0 10px #33333350;
}