nav {
    box-shadow: 1px 2px 5px #161616;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

nav,
nav a {
    background-color: #001d52;
    padding: 8px 2%;
}

nav a {
    font-weight: bold;
    font-size: 1.5Em;
    font-family: "Ludicia console", "Monaco", monospace;
    text-decoration: none;
    display: inline;
    color: #dcdedf;
    margin: auto 3%;
}

nav a:hover {
    text-shadow: 1px 2px 5px #263645;
    color: #ffffff;
    background-color: #0044bb;
    border-radius: 3px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}

body,
html {
    height: 100%;
    color: rgb(70, 70, 70);
    line-height: 1.8;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #dcdedf #A3A9AC;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #dcdedf;
}

*::-webkit-scrollbar-thumb {
    background-color: #A3A9AC;
    border-radius: 20px;
    border: 3px solid #dcdedf;
}

p {
    text-align: justify;
    text-justify: auto;
}

.w3-dark-blue,
.w3-hover-dark-blue:hover {
    color: #fff !important;
    background-color: #003591 !important
}

.w3-text-dark-blue,
.w3-hover-text-dark-blue:hover {
    color: #003591 !important
}

.w3-border-dark-blue,
.w3-hover-border-dark-blue:hover {
    border-color: #003591 !important
}

.projectBody h1 {
    text-align: center;
    letter-spacing: 4px;
    font-weight: bolder;
}

iframe {
    /* taken from www.freepik.com */
    background-image: url(Images/Backgrounds/shattered-island.gif);
    border-radius: 8px;
    box-shadow: 3px 3px 8px #292929;
}

iframe,
.projectBody i {
    padding: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.projectBody i {
    position: relative;
    right: 120px;
    bottom: 15px;
}

.projectBody a {
    color: #5050ff;
    text-decoration-line: none;
    font-family: "Ludicia console", "Monaco", monospace;
    font-size: 1.5em;
    position: relative;
    bottom: 10px;

}

.projectBody a:hover {
    color: #66aaff;
}


.projectDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
}

.imageLink {
    text-align: center;
    text-shadow: 1px 1px 1px #cccccc;
    transition: 0.2s;
}

.imageLink a {
    text-decoration-line: none;
    color: rgb(70, 70, 70);
}

.imageLink a img {
    background-image: url("Images/EmptyImage.png");
    box-shadow: 2px 2px 4px #777777;
    transition: 0.1s;
    border-radius: 8px;
}

.imageLink a img:hover {
    box-shadow: 6px 6px 8px #777777;
}

.description {
    box-shadow: 3px 3px 8px #292929;
    border-radius: 8px;
}